body {
    background: #f1f1f1;
}

h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0 2rem 0;
    border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
}

@media (max-width: 576px) {

    section h1 {
        font-size: 2rem;
        font-weight: 900;
        padding: 1rem 0 2rem 0;
        letter-spacing: 2px;
        border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
    }

    blockquote {
        padding: 1rem 0 0 1rem;
        margin: 0;
        border-left: 0.5rem solid rgba(86, 86, 86, 0.51);
    }

    blockquote p {
        font-size: 0.8rem;
    }

    .blockquote-footer {
        font-size: 0.64rem;
        /*padding-bottom: 0.5rem;*/
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}