body {
    background: #f1f1f1;
}

h1 {
    margin: 2rem 5rem
}

@media (max-width: 576px) {

    .container.jumbotron h1 {
        padding: 3rem 0 0.5rem 0;
        margin: 0;
        font-size: 2rem;
    }

    blockquote {
        padding: 1rem 0 0 1rem;
        margin: 0;
        border-left: 0.5rem solid rgba(86, 86, 86, 0.51);
    }

    blockquote p {
        font-size: 0.8rem;
    }

    .blockquote-footer {
        font-size: 0.64rem;
        /*padding-bottom: 0.5rem;*/
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
