body {
    background-color: #f1f1f1;
}

h1 {
    color: white;
    /*margin: 0;*/
    text-transform: uppercase;
    line-height: 4rem;
    padding: 1rem 0;
    margin: 3rem 0 0 0;
}

.square {
    width: 30%;
    margin: 1.66%;
    background-color: lightblue;
    float: left;
    padding-bottom: 30%;
    border-radius: 10%;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

.square-container {
    max-width: 600px;
    margin: 1rem auto;
}

.stripe {
    background-color: white;
    color: black;
    height: 3rem;
    align-items: center;
    text-align: center;
}

#target-color {
    font-size: 4rem;
}

.selected {
    background-color: steelblue;
    color: white;
}

button {
    background: none;
    border: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    background-color: steelblue;
    color: white;
}

#msg {
    display: inline-block;
    width: 15%;
    font-weight: 700;
}

@media (max-width: 576px) {
    h1 {
        text-transform: uppercase;
        line-height: 2rem;
        padding: 1rem 0;
        margin: 3rem 0 0 0;
        font-size: 1rem;
    }

    #target-color {
        font-size: 2rem;
    }

    .stripe {
        background-color: white;
        color: black;
        height: 2rem;
        align-items: center;
        text-align: center;
    }

    button {
        letter-spacing: 0;
        font-size: 0.8rem;
    }

    #msg {
        display: inline-block;
        width: 30%;
        font-size: 0.8rem;
        /*font-weight: 700;*/
    }
}