body {
    background-size: cover;
    background: #f1f1f1;
    /*background:  center;*/
    /*padding-top: 70px;*/
}

img {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

/*.jumbotron {*/
/*    background: #ecf0f1;*/
/*}*/

.img-thumbnail {
    height: auto;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 700;
    font-size: 4em;
    /*color: #ebebeb;*/
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h3 {
    font-weight: 700;
    /*color: #e1e1e1;*/
}

.btn-link {
    text-align: center;
    /*font-weight: bold;*/
    font-size: 1.5rem;
    color: #4a4a4a;
}

.btn-link:hover {
    background: #5b5b5b;
    color: #d7d7d7;
}

nav {
    background: #323232;
}

.navbar.scrolled {
    background: #1e1e1e;
    transition: background 300ms;
}

blockquote {
    font-weight: 300;
    background: rgba(111, 111, 111, 0.11);
    border-left: 1rem solid rgba(86, 86, 86, 0.51);
    margin: 1.5rem 2rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.5;
}

.blockquote-footer {
    /*font-size: 0.64rem;*/
    /*padding-bottom: 0.5rem;*/
    padding-left: 2rem;
    padding-top: 1rem;
}


@media (max-width: 576px) {
    .container {
        padding: 0;
    }

    .container h1.display-4 {
        font-size: 2.5rem;
        padding: 3rem 0 0.5rem 0;

    }

    .container .jumbotron {
        margin: 1rem 1.5rem;
        padding: 0;

    }

    blockquote.blockquote {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-left: 0.5rem solid rgba(86, 86, 86, 0.51);
    }

    blockquote p {
        font-size: 0.8rem;
    }

    .blockquote-footer {
        font-size: 0.8rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
