body {
    background-size: cover;
    /*background:  center;*/
    /*padding-top: 70px;*/
}

img {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.jumbotron {
    background: #ecf0f1;
}

.img-thumbnail {
    height: auto;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 700;
    font-size: 4em;
    /*color: #ebebeb;*/
    padding-bottom: 0.5em;
}

h3 {
    font-weight: 700;
    /*color: #e1e1e1;*/
}

#content {
    text-align: center;
    /*padding: 30% 20%;*/
    color: #1e1e1e;
}


nav{
    background: #323232;
}