body {
    background-size: cover;
    background: #f1f1f1;
}

section .container {
    width: 60%;
}

img {
    width: 100%;
}

.img-thumbnail {
    height: auto;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 300;
    font-size: 4em;
    padding: 5rem 1rem 2rem 1rem;
}

h3 {
    font-weight: 700;
    /*color: #e1e1e1;*/
}

.nav-link {
    text-align: center;
    /*font-weight: bold;*/
    /*font-size: 1.5rem;*/
    color: #f1f1f1;
}

.nav-link:hover {
    background: #5b5b5b;
    color: #f1f1f1;
}

.navbar-brand:hover {
    /*background: #5b5b5b;*/
    color: #f1f1f1;
}

nav {
    background-color: #414141;
}

nav a {
    color: #ffffff;
}

.navbar.scrolled {
    background: #f1f1f1;
    transition: background 300ms;
}

.navbar.scrolled .nav-link:hover {
    background: #575757;
    color: #f1f1f1;
    transition: background 300ms;
}

.navbar.scrolled .navbar-brand:hover {
    transition: background 300ms;
}

.navbar.scrolled a {
    color: #414141;
}

.navbar.scrolled li a {
    color: #414141;
}

#content {
    color: black;
}

#content:hover {
    background: #525252;
    color: #ffffff;
}

#algorithm {
    color: black;
}

#algorithm:hover {
    background: #525252;
    color: #ffffff;
}

#archived {
    color: black;
}

#archived:hover {
    background: #525252;
    color: #ffffff;
}

blockquote {
    font-weight: 300;
    background: rgba(111, 111, 111, 0.11);
    border-left: 1rem solid rgba(86, 86, 86, 0.51);
    margin: 1.5rem 2rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.5;
}

.blockquote-footer {
    /*font-size: 0.64rem;*/
    /*padding-bottom: 0.5rem;*/
    padding-left: 2rem;
    padding-top: 1rem;
}

@media (min-width: 415px) and (max-width: 1000px) {
    section .container {
        width: 90%;
    }

    /*.container {*/
    /*    padding: 0;*/
    /*}*/
    h1 {
        font-size: 2.5rem;
        padding: 3rem 0 0.5rem 0;
    }

    blockquote.blockquote {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-left: 0.5rem solid rgba(86, 86, 86, 0.51);
    }

    blockquote p {
        font-size: 0.75rem;
    }

    .blockquote-footer {
        font-size: 0.75rem;
        padding-left: 0.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

}

@media (max-width: 414px) {
    section .container {
        width: 90%;
    }

    .container {
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
        padding: 3rem 0 0.5rem 0;
    }

    blockquote.blockquote {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-left: 0.5rem solid rgba(86, 86, 86, 0.51);
    }

    blockquote p {
        font-size: 0.75rem;
    }

    .blockquote-footer {
        font-size: 0.75rem;
        padding-left: 0.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #content {
        color: black;
        font-size: 1rem;
    }

    #algorithm {
        color: black;
        font-size: 1rem;
    }

    #archived {
        color: black;
        font-size: 1rem;
    }
}
