body {
    background: #f1f1f1;
}

section .container {
    max-width: 740px;
    padding: 5rem auto 1rem 3rem;
}

section h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 5rem 0 4rem 0;
    border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
}

section .container p {
    padding: 0.5rem 0;
    margin: 0;
}

td {
    height: 3.5rem;
}

.post-link {
    color: #292525;
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
}

.post-info {
    text-align: right;
    margin: 1rem 0;
}

.post-list {
    font-family: 'Martel Sans', serif;
    padding: 1rem;
}

.post-link:hover {
    color: #005cbf;
}

.post-subtitle {
    color: #323232;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    font-weight: 300;
}

.post-tag {
    font-size: 1rem;
    color: #292525;
    text-decoration: underline;
    font-weight: 500;
}

.post-tag:hover {
    color: #005cbf;
}

section a:hover {
    color: #005cbf;
}

section a:visited {
    color: gray;
}

section a:visited:hover {
    color: #005cbf;
}

.post-date {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .54);
    text-transform: uppercase;
    padding-right: 1.5rem;
}


@media (max-width: 414px) {
    section h1 {
        font-size: 2rem;
        font-weight: 900;
        padding: 0 0 2rem 0;
        border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
    }

    section .container {
        padding: 5rem 0.5rem 3rem 1rem;

    }

    .post-link {
        font-size: 1.5rem;
        padding: 0;
        margin: 1rem 0;
    }

    .post-subtitle {
        color: #323232;
        font-size: 1rem;
        padding: 1rem 0 0 0;
        font-weight: 300;
    }

    .post-info{
        font-weight: 300;
        text-align: left;
    }
}