body {
    background: #f1f1f1;
}

section .container {
    max-width: 740px;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

section h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0 4rem 0;
    border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
}

section .container p {
    padding: 0.5rem 0;
    margin: 0;
}

td {
    height: 3.5rem;
}

.post-link {
    color: rgba(51, 58, 64, 0.75);
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
}

.post-info {
    text-align: right;
    margin: 1rem 0;
}

.post-list {
    font-family: 'Martel Sans', serif;
    padding: 1rem;
}

.post-link:hover {
    color: gray;
}

.post-subtitle {
    color: #323232;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    font-weight: 300;
}

.post-tag {
    color: #353535;
    font-size: 1rem;
}

.post-tag:hover {
    color: gray;
}

.post-date {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .54);
    text-transform: uppercase;
    padding-right: 1.5rem;
}


@media (max-width: 576px) {
    section h1 {
        font-size: 2rem;
        font-weight: 900;
        padding: 0 0 2rem 0;
        border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
    }

    section .container {
        padding: 5rem 0.5rem 3rem 0.5rem;
    }

    .post-link {
        font-size: 1.5rem;
        padding: 0;
        margin: 1rem 0;
    }

    .post-subtitle {
        color: #323232;
        font-size: 1rem;
        padding: 1rem 0 0 0;
        font-weight: 300;
    }

    .post-info {
        font-weight: 300;
    }
}