body {
    background: #f1f1f1;
}

section .container {
    max-width: 740px;
    padding-bottom: 3rem;
}

section .container .post-main {
    font-family: 'Martel Sans', serif;
    line-height: 1.5rem;
    font-weight: 300;
}

h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    padding: 1rem 0;
}

section .container .post-main h2 {
    font-family: "Helvetica Neue", sans-serif;
    padding: 0.5rem 0 1.5rem 0;
    font-weight: 500;
    margin: 0;
}

section .container .post-main h3 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    padding: 0.5rem 0 1.5rem 0;
}

section .container .post-main h4 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
}

section .container .post-main strong {
    font-weight: 700;
}

section div pre {
    background: #dcdcdc;
    padding: 1rem;
    color: #353535;
}

section div pre code {
    font-family: Menlo, serif;
    color: #353535;
}

section div code {
    margin: 0;
    font-family: Menlo, serif;
}

section .post-heading {
    margin: 5rem auto 2rem auto;
}

section .post-date {
    color: rgba(0, 0, 0, .54);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.post-main p {
    padding-left: 0.5rem;
}

.blockquote {
    font-weight: 300;
    background: rgba(111, 111, 111, 0.11);
    border-left: 1rem solid rgba(86, 86, 86, 0.51);
    margin: 1.5rem 2rem;
    padding: 1rem 0 1rem 3rem;
    color: #1b1e21;
}

.blockquote p {
    font-weight: 300;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 2;
}

section table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

section table th {
    background-color: #e9ecef;
    color: #495057;
    /*vertical-align: bottom;*/
    text-align: left;
    margin: auto;
    padding: 0.75rem;
    border: #dee2e6 solid 1px;
    border-bottom: 2px;
}

table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

@media (max-width: 414px) {
    section .container {
        max-width: 740px;
        padding: 1rem;
    }

    .post-main p {
        padding-left: 0;
    }

    section .post-heading {
        margin: 2rem auto auto auto;
    }

    section .post-heading h1 {
        font-size: 2rem;
        margin: 1rem auto 1rem auto;
    }

    section .post-date {
        padding-bottom: 0;

    }

    .post-main {
        padding: 1rem 0;
    }

    .post-main h2 {
        font-size: 1.5rem;
        padding: 0 0 1rem 0;
        font-weight: 700;
        margin: 0;
    }

    .post-main h3 {
        font-weight: 500;
        font-size: 1rem;
        padding: 1rem 0 0 1rem;
    }

    .post-main blockquote {
        padding: 1rem 0 1rem 1rem;
        margin: 0;
        border-left: 0.5rem solid rgba(86, 86, 86, 0.51);
    }

    .post-main blockquote p {
        font-size: 0.8rem;
        padding: 0;
        line-height: 1.5;
    }

    section div pre {
        padding: 0.5rem;
        color: #353535;
    }
}