.post-item {

}

.post-link {
    font-family: "Roboto", sans-serif;
    color: #353535;
    font-size: 3rem;
    font-weight: 700;
}

.post-link:hover {
    color: gray;
}

.post-subtitle {
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-size: 1.2rem;
    padding: 1rem;
}

.date {
    color: rgba(164, 179, 188, 0.5);
    /*padding: 1rem;*/
}

.post-tag {
    color: #353535;
    padding: 2rem;
}

.post-tag:hover {
    color: gray;
}