body {
    background: #f1f1f1;
}

section .container {
    max-width: 740px;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

section h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem 0 2rem 0;
    border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
}

.tag {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 0;
    color: rgba(51, 58, 64, 0.75);
}

.post-link {
    font-size: 1.5rem;
    /*padding: 0.25rem 0 0.5rem 2rem;*/
    text-decoration: underline;
    color: #292525;
}

section .post-list {
    padding: 0 1rem 0 1rem;
    margin: 0;
}

.post-list p {
    line-height: 2;
}

.post-link a {
    color: #292525;
}

.post-link:hover {
    color: #005cbf;
}

.post-link:visited {
    color: gray;
}

.post-link:visited:hover {
    color: #005cbf;
}

p {
    margin-bottom: 0;
}

div.container:nth-child(2) {
    padding-top: 0.5rem;
}

@media (max-width: 414px) {

    section .container {
        max-width: 740px;
        padding: 5rem 0.5rem 3rem 1rem;
    }

    section h1 {
        font-size: 2rem;
        font-weight: 900;
        padding: 0 0 2rem 0;
        border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
    }

    .tag {
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0.5rem 0;
        color: rgba(51, 58, 64, 0.75);
    }

    .post-link {
        text-align: left;
        font-size: 1rem;
    }

    .post-link a {
        color: #1b1e21;
        font-size: 1rem;
    }

    .post-list p {
        line-height: 1.5;
    }

    section .post-list {
        padding: 0 1rem 0 1rem;
        margin: 0;
    }

    p {
        /*padding-bottom: 0.5rem;*/
        margin-bottom: 0.5rem;
    }
}