body {
    background: #f1f1f1;
}

section .container {
    max-width: 740px;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

section h1 {
    font-family: Arial, sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
    letter-spacing: 2px;
    border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
}

.tag {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 0;
    color: rgba(51, 58, 64, 0.75);
}

.post-link {
    text-align: left;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 2rem;
}
.post-link a{
    color: #1b1e21;
}

@media (max-width: 576px) {
    .container.jumbotron {
        margin-bottom: 1rem;
    }

    .container.jumbotron h1 {
        padding: 3rem 0 0.5rem 0;
        margin: 0;
        font-size: 2rem;
    }

    ul, ol {
        padding-left: 0;
        margin: 1rem 1rem;
    }

    .post-list {
        margin: 1rem 0.5rem;
        padding: 0 1.5rem;
        /*padding: ;*/
    }

    .tag {
        padding: 0;
        font-family: "Roboto", sans-serif;
        color: #353535;
        font-size: 1rem;
        font-weight: 700;
    }

    .post-link {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

}