body {
    background: #f1f1f1;
}

section .container {
    max-width: 740px;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

section h1 {
    font-family: Arial, sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
    letter-spacing: 2px;
    border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
}

.tag {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem 0;
    color: rgba(51, 58, 64, 0.75);
}

.post-link {
    text-align: left;
    font-size: 1.5rem;
    padding: 0.25rem 0 0.5rem 2rem;
}

td{
    padding: 0.25rem 0;
}
.post-link a{
    color: #1b1e21;
}

.post-link a:hover {
    color: gray;
}

@media (max-width: 576px) {

    section .container {
        max-width: 740px;
        padding-bottom: 3rem;
        padding-top: 5rem;
    }

    section h1 {
        font-family: Arial, sans-serif;
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 0 2rem 0;
        letter-spacing: 2px;
        border-bottom: rgba(78, 85, 91, 0.51) solid 2px;
    }

    .tag {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0.5rem 0;
        color: rgba(51, 58, 64, 0.75);
    }

    .post-link {
        text-align: left;
        font-size: 1rem;
        padding: 0.25rem 0 0.5rem 2rem;
    }
    td{
        padding: 0.25rem 0;
    }
    .post-link a{
        color: #1b1e21;
    }
}