#container {
    /*background: gray;*/
    width: 25rem;
    margin: 15rem auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f1f1f1;
    /*background: #304352; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #d7d2cc, #304352); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #d7d2cc, #304352); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

div h1 {
    /*text-align: center;*/
    background-color: #2980b9;
    color: white;
    padding: 1rem 1.25rem;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.task {
    background-color: white;
    height: 2.5rem;
    line-height: 2.5rem;
}

li.task:nth-child(2n) {
    background-color: #f7f7f7;
}

label {
    width: 100%;
    margin: 0;
}

input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px rgba(0, 0, 0, 0);
}

input:focus {
    background-color: white;
    border: 3px solid #2980b9;
    outline: none;
}

div ul li a {
    color: black;
}

div ul li a:hover {
    text-decoration: none;
    color: #5b5b5b;
}

div ul li a.completed:hover {
    text-decoration: line-through;
    color: gray;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

div li span {
    background-color: #e74c3c;
    height: 2.5rem;
    margin-right: 1rem;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.1s linear;
    opacity: 0;
}

div li:hover span {
    width: 2.5rem;
    opacity: 1.0;
}

.fa-plus {
    float: right;
}


@media (max-width: 576px) {
    #container {
        margin: 3rem 0;
    }
}